<div class="main-header">
    <h1></h1>
  </div>
  <div class="main-content">
    <div class="main-wrapper">
      <div class="home-info">
        <div>
          <span class="home-subtitle">Angular</span>
          <h1 style="font-weight: 400;">¡Welcome!</h1>
          <h1 class="home-title">Frontend angular application with many features for fun :)</h1>
          <p class="home-description">See some examples using Angular, Sockets.IO, Material Design and RxJS.</p>
        </div>
        <div class="home-author">
          <img src="../../../assets/images/mperfil.jpg" class="home-author-img">
          <div style="height: 85%;">
            <h4 class="home-author-name">Maximiliano Perrone</h4>
            <h4 class="home-author-title">Software Developer</h4>
          </div>
        </div>
        <span class="home-date">February 09, 2020</span>
      </div>
      <div class="home-logo">
        <img src="../../../assets/images/angular+nodejs.png" class="present-img">
      </div>
    </div>
  </div>