.buttons {
    padding-top: 45px;
}

.choose-file {
    display: flex;
    padding-top: 30px;
}

.save-button {
    margin-right: 25px;
}

button {
    width: 35%; 
    background-color: #242424;
    color: white;
}

.upload-progress {
    font-weight: 300;
    color: gray;
}

.error-message {
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    color: red;
    text-decoration: underline;
}